ion-title {
  font-weight: bold;
  margin-left: 100px;
}
ion-card {
  --background: #EFEDED ;
  height:90%;
  width: 96%;
  border-radius: 15px;
}
h2 {
  font-weight: bold;
  color: black;
}
.atas{
  height: 90%;
}
.bawah {
  height: 10%;
}
.pesan{
border-radius: 10px;
text-transform: none;
--background: grey;
margin-right: 20px;
color: white;
shape-outside: rounded;
}
