<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismis()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>

      </ion-button>
      <ion-title>Catatan</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
      <ion-grid class="atas">
        <h2>Tambah Catatan Pesanan</h2>
        <form action="">
          <ion-textarea type="text" placeholder="Contoh: gula jangan terlalu banyak">

          </ion-textarea>
        </form>
      </ion-grid>
      <ion-grid class="bawah ion-text-right">
        <ion-button class="pesan" (click)="dismis()">Simpan</ion-button>
      </ion-grid>
  </ion-card>
</ion-content>





