<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismis()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>Pesanan</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >



  <ion-card class="alamat">
   <ion-grid>
    <h3>Alamat pengiriman</h3>

    <p style="color: grey;">Jl. Dukuwaluh, PWT</p>
   </ion-grid>
   <ion-item class="garis"></ion-item>
   <h3>Rincian Pembayarann</h3>
   <ion-grid style="background: grey; border-radius: 10px; width: 95%;">


    <img
    style="
      height: 80px;
      width: 80px;
      border-radius: 15px;
      margin-left: 15px;
    "
    [src]="imageUrl"
  /> <br>
  <p style="color: white;">{{ description }}</p>

   </ion-grid>


   <ion-grid>


        <ion-row style="margin-bottom: 20px;">
          <ion-col size="8" >
            <p style="color: black;">Total Harga</p>
          </ion-col>
          <ion-col size="4">
           <p style="color: black; font-weight: bold;">  Rp. {{price}}</p>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col size="8" >
            <p style="color: black;">Ongkos Delivery</p>
          </ion-col>
          <ion-col size="4">
           <p style="color: black; font-weight: bold;">  Rp. 5000</p>
          </ion-col>

        </ion-row>
        <ion-card style="background: black; width: 96%; height: 5px;"></ion-card>

        <ion-row>
          <ion-col size="8" >
            <p style="font-weight: bold; font-size: 15px; color: black;">Total Pembayaran</p>
          </ion-col>
          <ion-col size="4">
           <p style="color: black; font-weight: bold;">  Rp. 30.000</p>
          </ion-col>

        </ion-row>



   </ion-grid>

  </ion-card>
</ion-content>

  <ion-tabs class="ion-text-center">
    <ion-tab-bar slot="bottom"
    (click)="modalnote(title, imageUrl, description, price, id)"
    >

        Pesan
    </ion-tab-bar>
  </ion-tabs>



