
ion-tab-bar {
  --border:none;
  --background: #C1EF70;
 margin-bottom: 20px;
 margin-left: 16%;
  border-radius: 20px;
  box-shadow:  0px 3px 6px 0px rgba(0,0,0, 0.04),
  0px 1px 3px 0px rgba(0,0,0, 0.02);
  width: 68%;
  color: black;


}
.garis {
  --background: #2de93d;
  border-radius: 10px;
width: 95%;
  height: 3px;
  margin-bottom: 10px;
}
h3 {
  font-weight: bold;
  font-size: 15px;
  color: black;
}

ion-tab-bar{
  color: black;
}
.alamat {
  color: white;
  height: 90%;
  width: 95%;
  border-radius: 15px;
  padding-left: 10px;
  box-shadow: 10px;
  margin-bottom: 5px;


}
.gantialamat {
  height: 20px;
  --background: grey;
  color: white;
  text-transform: none;
  margin-left: 60px;
}
.conten {
  padding-top: 20px;
  background: white;
  height: 30%;
  width: 96%;
  border-radius: 15px;
  padding-left: 10px;
  box-shadow: 10px;
  margin-bottom: 5px;
}

.harga {
  padding-top: 5px;
  background: white;
  height: 30%;
  width: 96%;
  border-radius: 15px;
  padding-left: 10px;
  box-shadow: 10px;
  margin-bottom: 5px;
}

.judul-makanan {
  font-size: 11px;
  color: #030303;
  font-weight: bold;
}
.harga-makanan {
  font-size: 9px;
  color: #3f3e3e;

}
.card {
  width: 100%;
  height: 25%;
  background: #ffffff;
  padding-top: 10px;

}
.merah {
  color: white;
  width: 95%;
  height: 40px;
  border-radius: 30px;
  padding-left: 10px;
  box-shadow: 10px;
  margin-bottom: 5px;
  background: #C63434;
  padding-top: 10px;
  padding-bottom: 10px;
}
