ion-content {
  --background: url(../../assets/images/bg3.png) 0 0/100% 100% no-repeat !important;
  // background-color: #fff;
  flex: 1;
}
p {
  font-size: 30px;
  color: black;
  font-weight: bold;
}
.grid-atas {
  margin-top: 55%;
}
.grid-bawah {
  margin-top: 10px;

  border-radius: 20px;
  height: 400px;
  width: 90%;
  margin-left: 5%;
}
ion-item {
  --background: transparent;
  color: white;

}

// ion-item {
//   margin-left: 17%;
//   --background: red;
//   width: 280px;
//   height: 50px;
//   border-radius: 15px;
//   color: white;
//   font-size: 25px;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }
// .atas {
//   height: 650px;
// }
// .bawah {
//   height: 100px;
// }
