<ion-content class="background-image ion-text-center">
<ion-grid class="grid-atas">
  <ion-row>
    <ion-col>
      <p>Login</p>
    </ion-col>
    <ion-col>
      <p routerLink="/signup">Sign Up</p>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="grid-bawah">
  <form >
    <ion-grid style="border-radius: 15px;">

            <ion-item>
              <ion-label position="floating">Username :</ion-label>
              <ion-input>
              </ion-input>
            </ion-item>


            <ion-item>
              <ion-label position="floating">Password  :</ion-label>
              <ion-input>
              </ion-input>
            </ion-item>




      <ion-row>
        <ion-col size-md="6" offset-md="3" >

          <ion-button
          type="submit"
          color="danger"
          (click)="onLogin()"
          expand="block"

          >
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-grid>
</ion-content>
