<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/banana.jpg" alt="" />
        <ion-row>
          <ion-col class="ion-text-left" size="8">
            <ion-text class="judul-makanan ion-text-left"
              >Banana Split + Ice Cream</ion-text
            >
            <br />
            <ion-text class="harga-makanan">Rp. 15.000</ion-text>
          </ion-col>
          <ion-col size="4">
            <br />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star_half.png"
              alt=""
            />
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/ayamgoremg.jpeg" alt="" />
        <ion-row>
          <ion-col class="ion-text-left" size="8">
            <ion-text class="judul-makanan ion-text-left">Ayam Bakar</ion-text>
            <br />
            <ion-text class="harga-makanan">Rp. 15.000</ion-text>
          </ion-col>
          <ion-col size="4">
            <br />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star_half.png"
              alt=""
            />
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/jus.jpg" alt="" />
        <ion-row>
          <ion-col class="ion-text-left" size="8">
            <ion-text class="judul-makanan ion-text-left"
              >Jus Buah Segar</ion-text
            >
            <br />
            <ion-text class="harga-makanan">Rp. 6.000</ion-text>
          </ion-col>
          <ion-col size="4">
            <br />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star_half.png"
              alt=""
            />
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card
          class="card"
          *ngFor="let FastFood of loadedFastFood.slice()"
          (click)="presentModal(FastFood.title, FastFood.imageUrl, FastFood.description, FastFood.price)"
        >
          <ion-row>
            <ion-col size="8" style="padding-left: 10px">
              <ion-label>
                <h3 style="color: black; font-weight: bold">
                  {{ FastFood.title }}
                </h3>
                <p>{{ FastFood.description }}</p>
                <p style="color: red; font-weight: bold">
                  Rp. {{ FastFood.price}}
                </p>
              </ion-label>
            </ion-col>
            <ion-col size="4">
              <img
                style="
                  height: 80px;
                  width: 80px;
                  border-radius: 15px;
                  margin-left: 15px;
                "
                [src]="FastFood.imageUrl"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
