ion-card {
  width: 300%;
  height: 100px;
  box-shadow: 2px;
  border-radius: 12px;
  border: 1px;
  background: #ffffff;

  img {
    height: 100%;
    width: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}
.swiper-slide-active {
  transform: scale(1.05, 1.05);
  ion-card {
    img {
      transform: scale(1, 1);
    }
  }
}
.swiper-slide {
  transition: 400ms all ease-in-out;
}
.judul-makanan {
  font-size: 11px;
  color: #030303;
  font-weight: bold;
}
.harga-makanan {
  font-size: 9px;
  color: #3f3e3e;
}
.card {
  width: 95%;
  height: 110px;
  background: #ffffff;
  padding-top: 10px;
}
.subpilih {
  background-color: black ;
  color: white;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  font-size: 15px;
  padding: 5px;
}
.pilihmenu {
  color: #030303;
  font-weight: bold;
  font-size: 20px;

}
