<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/migoreng.jpg" alt="" />

      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/mikuah.jpg" alt="" />
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/kopisusu.jpg" alt="" />

      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <a class="pilihmenu">Pilih Menu</a>
    <ion-row>
      <ion-col size="3">
        <a routerLink="../migoreng" class="subpilih">Mi Goreng</a>
      </ion-col>
      <ion-col size="3">
        <a routerLink="../mikuah" class="subpilih">Mi Kuah</a>
      </ion-col>
      <ion-col size="3">
        <a routerLink="../drink" class="subpilih">Minuman</a>
      </ion-col>
      <ion-col size="3">
        <a routerLink="../sweets" class="subpilih">Topping</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card
          class="card"
          *ngFor="let FastFood of loadedFastFood.slice()"
          (click)="presentModal(FastFood.title, FastFood.imageUrl, FastFood.description, FastFood.price)"
        >
          <ion-row>
            <ion-col size="8" style="padding-left: 10px">
              <ion-label>
                <h3 style="color: black; font-weight: bold">
                  {{ FastFood.title }}
                </h3>
                <p>{{ FastFood.description }}</p>
                <p style="color: red; font-weight: bold">
                  Rp. {{ FastFood.price}}
                </p>
              </ion-label>
            </ion-col>
            <ion-col size="4">
              <img
                style="
                  height: 80px;
                  width: 80px;
                  border-radius: 15px;
                  margin-left: 15px;
                "
                [src]="FastFood.imageUrl"
              />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
