a {
  color: #030303;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}
ion-grid {
  margin-top: 30px;
}
ion-card {
  width: 100%;
  height: 100px;
  box-shadow: 2px;
  border-radius: 12px;
  border: 1px;
  background: #ffffff;

  img {
    height: 100%;
    width: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}
.swiper-slide-active {
  transform: scale(1.05, 1.05);
  ion-card {
    img {
      transform: scale(1, 1);
    }
  }
}
.swiper-slide {
  transition: 400ms all ease-in-out;
}

// ion-content {
//   --background: #f5f5f3;
// }
// ion-toolbar {
//   --background: #f5f5f3;
// }
 ion-menu-button {
  color: #030303;
}
.judul {
  color: #030303;
  font-weight: bold;
}
.user {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
.judul-makanan {
  font-size: 11px;
  color: #030303;
  font-weight: bold;
}
.harga-makanan {
  font-size: 9px;
  color: #3f3e3e;

}

.menu{
  box-shadow: 2px;
  border-radius: 12px;
  border: 1px;
  background: #ffffff;
  width: 90%;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;

  .menu-icon {
    height: 70%;
    width: 60%;
    justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  }
  .text-icon {
    color: #030303;
    font-weight: bold;
  }
}
