<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">

  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/migoreng.jpg" alt="" />

      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/mikuah.jpg" alt="" />
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/kopisusu.jpg" alt="" />

      </ion-card>
    </ion-slide>
  </ion-slides>



  <ion-grid>
    <a>Menu</a>
    <ion-row>
      <ion-col size="6">
        <ion-card class="menu" routerLink="migoreng">
          <img
            class="menu-icon"
            src="../../../assets/images/goreng.png"
            alt=""
          />
          <br /><ion-text class="text-icon">Mie Goreng</ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="menu" routerLink="mikuah">
          <img
            class="menu-icon"
            src="../../../assets/images/noodles.png"
            alt=""
          />
          <br /><ion-text class="text-icon">Mie Kuah</ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="menu" routerLink="drink">
          <img
            class="menu-icon"
            src="../../../assets/images/minum.png"
            alt=""
          />
          <br /><ion-text class="text-icon">Minuman</ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="menu" routerLink="sweets">
          <img class="menu-icon" src="../../../assets/images/cutlery.png" alt="" />
          <br /><ion-text class="text-icon">Topping</ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
