<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="judul" size="9">
        Hi, Damar <br />
        Apa yang ingin kamu makan hari ini ?
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <img class="user" src="../../../assets/images/user.jpg" alt="" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/banana.jpg" alt="" />
        <ion-row>
          <ion-col class="ion-text-left" size="8">
            <ion-text class="judul-makanan ion-text-left"
              >Banana Split + Ice Cream</ion-text
            >
            <br />
            <ion-text class="harga-makanan">Rp. 25.000</ion-text>
          </ion-col>
          <ion-col size="4">
            <br />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star_half.png"
              alt=""
            />
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/m5.jpg" alt="" />
        <ion-row>
          <ion-col class="ion-text-left" size="8">
            <ion-text class="judul-makanan ion-text-left"
              >Nasi Goreng Gila</ion-text
            >
            <br />
            <ion-text class="harga-makanan">Rp. 15.000</ion-text>
          </ion-col>
          <ion-col size="4">
            <br />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star_half.png"
              alt=""
            />
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/m3.jpg" alt="" />
        <ion-row>
          <ion-col class="ion-text-left" size="8">
            <ion-text class="judul-makanan ion-text-left"
              >Jus Buah Segar</ion-text
            >
            <br />
            <ion-text class="harga-makanan">Rp. 9.000</ion-text>
          </ion-col>
          <ion-col size="4">
            <br />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star.png"
              alt=""
            />
            <img
              style="height: 10px; width: 10px"
              src="../../../assets/images/star_half.png"
              alt=""
            />
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="menu">
          <img
            class="menu-icon"
            src="../../../assets/images/sarapan.png"
            alt=""
          />
          <br /><ion-text class="text-icon">Makanan</ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="menu">
          <img
            class="menu-icon"
            src="../../../assets/images/minuman.png"
            alt=""
          />
          <br /><ion-text class="text-icon">Minuman</ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="menu">
          <img
            class="menu-icon"
            src="../../../assets/images/fast_food.png"
            alt=""
          />
          <br /><ion-text class="text-icon">Fast Food</ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="menu">
          <img class="menu-icon" src="../../../assets/images/kue.png" alt="" />
          <br /><ion-text class="text-icon">Sweets</ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="menu">
          <img
            class="menu-icon"
            src="../../../assets/images/fast_food.png"
            alt=""
          />
          <br /><ion-text class="text-icon">Fast Food</ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="menu">
          <img class="menu-icon" src="../../../assets/images/kue.png" alt="" />
          <br /><ion-text class="text-icon">Sweets</ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
