<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-content>

      <ion-list class="menu-items">


        <ion-menu-toggle>
          <ion-item lines="none" >
            <ion-icon name="person-circle" slot="start" button></ion-icon>
            <ion-label> Users</ion-label>
          </ion-item>
          <ion-item class="garis">

          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/pages/tabs/dashboard/food">
            <ion-icon name="restaurant" slot="start" button></ion-icon>
            <ion-label> Makanan</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/pages/tabs/dashboard/drink">
            <ion-icon name="wine" slot="start" button></ion-icon>
            <ion-label> Minuman</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/pages/tabs/order">
            <ion-icon name="heart" slot="start" button></ion-icon>
            <ion-label> Favorite</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/pages/tabs/history">
            <ion-icon name="cart" slot="start" button></ion-icon>
            <ion-label> Orders</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" >
            <ion-icon name="wallet" slot="start" button></ion-icon>
            <ion-label> Payment</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label> Sign-Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
