
ion-menu-toggle {
  --background: #1FA509 ;
}

ion-content {
  background: #1FA509;
}
ion-list {
  background: #1FA509;
  height: 100%;
}
ion-item {
  --background: #1FA509;
  border-radius: 10px;
  margin: 10px;
  color: white;

  ion-icon {
    color: white;
  }

}
.garis {
  --background: #ffffff;
  border-radius: 10px;

  height: 3px;
}
