<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', place.id]" detail>
  <ion-thumbnail slot="start">
    <ion-img [src]="place.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{ place.title }}</h2>

    <div class="offer-details">
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{
        place.availableFrom | date
      }}</ion-text>
      <span class="space-left">to</span>
      <ion-icon name="calendar" class="space-left" color="primary"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{
        place.availableTo | date
      }}</ion-text>
    </div>
  </ion-label>
</ion-item>
