  <ion-tabs >
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="history">

        <ion-icon name="notifications"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="dashboard">

        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="order">

        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

