ion-toolbar, ion-content{
  --backgroud: #ffffff;

}

ion-tab-bar{
  --border:none;
  --background: #1FA509;


  // border-radius: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow:  0px 3px 6px 0px rgba(0,0,0, 0.04),
  0px 1px 3px 0px rgba(0,0,0, 0.02);
  width: 100%;


}
ion-icon{
  color: #ffffff;
}
ion-label{
  color: #ffffff;
}
