ion-card {
  width: 95%;
  height: 250px;
  box-shadow: 5px;
  border-radius: 12px;
  border: 1px;
  background: #ffffff;

  img {
    height: 100%;
    width: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}
h2 {
  margin-left: 5%;
  font-size: 20px;
  font-weight: bold;
}
p {
  margin-left: 6%;
  font-size: 15px;
  color: grey;
  margin-bottom: 40px;
}
h3 {
color: crimson;
margin-left: 5%;
font-size: 20px;
font-weight: bold;
}
ion-item {
  margin-left: 5%;
  --background: black;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
}
.bottom {
  margin-left: 5%;
  --background: black;
  width: 80%;
  height: 50px;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
}
.gambar {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}


.note {
  --border:none;
  --background: grey;
 margin-bottom: 20px;
 margin-left: 5%;
  border-radius: 20px;
  box-shadow:  0px 3px 6px 0px rgba(0,0,0, 0.04),
  0px 1px 3px 0px rgba(0,0,0, 0.02);
  width: 80%;
  height: 100px;
  color: white;


}

ion-tab-bar {
  --border:none;
  --background: #C1EF70;
 margin-bottom: 20px;
 margin-left: 16%;
  border-radius: 20px;
  box-shadow:  0px 3px 6px 0px rgba(0,0,0, 0.04),
  0px 1px 3px 0px rgba(0,0,0, 0.02);
  width: 68%;


}

ion-tab-bar{
  color: black;
}

// ion-item {
//   margin-left: 5%;
//   --background: black;
//   border-radius: 15px;
//   width: 250px;
//   height: 70px;
//   color: white;

// }
// .bar {
//   --border:none;
//   --background: #1FA509;


//   // border-radius: 20px;
//   border-top-left-radius: 30px;
//   border-top-right-radius: 30px;
//   box-shadow:  0px 3px 6px 0px rgba(0,0,0, 0.04),
//   0px 1px 3px 0px rgba(0,0,0, 0.02);
//   width: 100%;


// }
// ion-icon{
//   color: #ffffff;
// }
// ion-label{
//   color: #ffffff;
// }
