<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismis()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-card>
      <img [src]="imageUrl" />
    </ion-card>
  </ion-grid>
  <ion-grid>
    <h2>
      {{ title }}
    </h2>
    <p>
      {{ description }}
    </p>

    <h3>
      Rp. {{ price }}
    </h3>

  </ion-grid>
  <ion-grid>
    <ion-tabs  >
      <ion-tab-bar class="note" slot="bottom"

      >
        <img class="gambar" src="../../../../assets/images/note.png" />
          Catatan
      </ion-tab-bar>
    </ion-tabs>
    <!-- <ion-item>
      <img class="note" src="../../../../assets/images/note.png" />
      Catatan
    </ion-item> -->
  </ion-grid>
  <!-- <ion-grid>
    <ion-item class="bottom">

    </ion-item>
  </ion-grid> -->
</ion-content>

  <ion-tabs class="ion-text-center">
    <ion-tab-bar slot="bottom"
    (click)="modalpesan(title, imageUrl, description, price, id)"
    >
      <img class="gambar" src="../../../../assets/images/plus.png" />
        Tambah Pesanan
    </ion-tab-bar>
  </ion-tabs>



