.header {
  --background: #303C46 ;
  color: white;
}
ion-toolbar {
  --background: #303C46 ;
  color: white;
}
ion-content {
  --background: #303C46 ;
}
ion-input {
  color: white;
  padding-left: 10%;
  font-weight: bold;
  margin-left: 5%;
  height: 60px;
  width: 90%;
  border-radius: 10px;
  background: #49565E;
  margin-bottom: 30px;

}
