<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages/tabs/dashboard"></ion-back-button>

    </ion-buttons>
    <ion-title style="margin-left: 30%;" >profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
<img style="height: 70px; width: 70px; border-radius: 50%;" src="../../assets/images/user.jpg" alt="">
      <ion-grid>

        <ion-input type="text" value="Damarjati Maryanto" readonly></ion-input>
        <ion-input type="text" value="jl. dukuwaluh, Kec. Kembaran" readonly></ion-input>
      <ion-input type="text" value="Password" readonly></ion-input>


      </ion-grid>

</ion-content>
