ion-content {
  --background: url(../../assets/images/startpage.png) 0 0/100% 100% no-repeat !important;
  // background-color: #fff;
  flex: 1;
}
p {
  font-size: 50px;
  color: white;
  font-weight: bold;
}
ion-item {
  margin-left: 17%;
  --background: red;
  width: 280px;
  height: 50px;
  border-radius: 15px;
  color: white;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.atas {
  height: 650px;
}
.bawah {
  height: 100px;
}
