<ion-content class="background-image ion-text-center">

  <ion-grid style="height: 700px;">
    <p>Ayam Dolan <br> Resto</p>
  </ion-grid>



  <ion-grid class="ion-text-center">
    <ion-item (click)=" onStart()" >


      <img src="../../assets/images/right.png" style="height: 40px; width: 40px;" alt="">

      <ion-label for=""> | Get Started</ion-label>


  </ion-item>
  </ion-grid>







  </ion-content>
  <!-- <ion-button color="primary" shape="round" expand="block" (click)=" onStart()"
      >Get Starter</ion-button >-->
