<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismis()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>

      </ion-button>
      <ion-title>Pembayaran</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content >



  <ion-card class="alamat">
   <ion-grid>
    <h3>Total Pembayaran</h3>

    <p style="color: grey;">Rp. 16.000</p>
   </ion-grid>
   <ion-item class="garis"></ion-item>
   <h3>Bayarnya Pake Apa ??</h3>
   <ion-grid style="background: rgb(206, 202, 202); border-radius: 30px; width: 95%; margin-bottom: 5px;">

    <ion-row>
      <ion-col size="5">
        <img
    style="
      height: 80px;
      width: 80px;
      border-radius: 15px;
      margin-left: 15px;
    "
    src="../../../../assets/images/dana.png"
  />
      </ion-col>
      <ion-col size="7"><p style="font-size: 30px;">DANA</p></ion-col>
    </ion-row>



   </ion-grid>

   <ion-grid style="background: rgb(206, 202, 202); border-radius: 30px; width: 95%; margin-bottom: 5px;">

    <ion-row>
      <ion-col size="5">
        <img
    style="
      height: 80px;
      width: 80px;
      border-radius: 15px;
      margin-left: 15px;
    "
    src="../../../../assets/images/OVO.png"
  />
      </ion-col>
      <ion-col size="7"><p style="font-size: 30px;">OVO</p></ion-col>
    </ion-row>



   </ion-grid>

   <ion-grid style="background: rgb(206, 202, 202); border-radius: 30px; width: 95%; margin-bottom: 5px;">

    <ion-row>
      <ion-col size="5">
        <img
    style="
      height: 80px;
      width: 80px;
      border-radius: 15px;
      margin-left: 15px;
    "
    src="../../../../assets/images/linkaja.png"
  />
      </ion-col>
      <ion-col size="7"><p style="font-size: 30px;">LinkAja</p></ion-col>
    </ion-row>



   </ion-grid>

   <ion-grid style="background: rgb(206, 202, 202); border-radius: 30px; width: 95%; margin-bottom: 5px;">

    <ion-row>
      <ion-col size="5">
        <img
    style="
      height: 80px;
      width: 80px;
      border-radius: 15px;
      margin-left: 15px;
    "
    src="../../../../assets/images/shopeepay.png"
  />
      </ion-col>
      <ion-col size="7"><p style="font-size: 30px;">Shopeepay</p></ion-col>
    </ion-row>



   </ion-grid>




  </ion-card>
</ion-content>

<ion-tabs class="ion-text-center">
  <ion-tab-bar slot="bottom"
  (click)="kembali()"
  >
      Bayar
  </ion-tab-bar>
</ion-tabs>





