ion-title {
  font-weight: bold;
  margin-left: 100px;
}

.garis {
  --background: #2de93d;
  border-radius: 10px;
width: 95%;
  height: 3px;
  margin-bottom: 10px;
}
h3 {
  font-weight: bold;
  font-size: 30px;
  color: black;
}

ion-tab-bar{
  color: black;
}
.alamat {
  color: white;

  width: 95%;
  border-radius: 15px;
  padding-left: 10px;
  box-shadow: 10px;
  padding-bottom: 15px;


}
ion-tab-bar {
  --border:none;
  --background: #C1EF70;
 margin-bottom: 20px;
 margin-left: 16%;
  border-radius: 20px;
  box-shadow:  0px 3px 6px 0px rgba(0,0,0, 0.04),
  0px 1px 3px 0px rgba(0,0,0, 0.02);
  width: 68%;


}

ion-tab-bar{
  color: black;
}
